#card {
  position: relative;
  width: 320px;
  height: 180px;
  border-radius: 19px;
  margin: 40px auto;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

#cardOwner {
  position: absolute;
  bottom: -5px;
  left: 15px;
}
#cardNumber {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
  position: absolute;
  bottom: 50px;
  left: 15px;
  font-size: 16px;
  text-transform: uppercase;
}
#date {
  position: absolute;
  bottom: -5px;
  right: 115px;
  font-size: 16px;
  font-weight: 600;
}
#chip {
  position: absolute;
  top: 54px;
  left: 15px;
}
#cardText {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  left: 15px;
  top: 1px;
}

#mastercard {
  position: absolute;
  bottom: -18px;
  right: 2px;
}
#mir {
  position: absolute;
  bottom: -25px;
  right: 4px;
}
#visa {
  position: absolute;
  bottom: -24px;
  right: 12px;
}

#alfa {
  position: absolute;
  top: 7px;
  right: -18px;
}
#sber {
  position: absolute;
  top: 12px;
  right: 15px;
}
#tbank {
  position: absolute;
  top: 5px;
  right: 2px;
}
#vtb {
  position: absolute;
  top: 20px;
  right: 20px;
}

.alfaCard {
  background: brown;
  border: 2px solid black;
}
.alfaCard #cardOwner,
.alfaCard #cardNumber,
.alfaCard #date,
.alfaCard #cardText {
  color: white;
}

.sberCard {
  border: 2px solid green;
  background: greenyellow;
}

.tbankCard {
  background: rgb(51,51,51);
  border: 2px solid gray;
}
.tbankCard #cardOwner,
.tbankCard #cardNumber,
.tbankCard #date,
.tbankCard #cardText {
  color: white;
}

.vtbCard {
  background: gray;
  border: 2px solid black;
}
  